# Semana 1
## Tarea 1
### Parte 1

In [2]:
print ("Hola, Mundo!")

Hola, Mundo!

In [3]:
Saludo = "Hola, Mundo!"
print (Saludo)

Hola, Mundo!

### Parte 2

In [4]:
#Sumar dos números
a = 5
b = 15

In [5]:
suma = a + b
print (suma)

20

In [6]:
#Resta de dos números
resta = b - a
print (resta)

10

In [7]:
#Multiplicación de dos números
multiplicacion = a * b
print (multiplicacion)

75

In [8]:
#División de dos números
division = b / a
print (division)

3.0

## Tarea 2

In [9]:
def valor_absoluto(x):
    if x < 0:
        return -x
    else:
        return x

In [10]:
def evaluar_absoluto(numero):
    resultado = valor_absoluto(numero)
    print("El valor absoluto de", numero, "es", resultado)
    return resultado

In [11]:
#Ejemplos de uso
evaluar_absoluto(-10)
evaluar_absoluto(5)

El valor absoluto de -10 es 10
El valor absoluto de 5 es 5

5

## Tarea 3

In [17]:
def import_csv(file):
    # Read the file into a DataFrame: df
    import pandas as pd
    return pd.read_csv(file)

In [20]:
file_name = "Terminos_lagoon_TA_DIC_2023_RawData.csv"

In [24]:
df = import_csv(file_name)

In [25]:
print ("Primeras columnas del DataFrame:")
print (df.head())

Primeras columnas del DataFrame:
   sample      date     estuary   area station layer_depth season  \
0  CDL01S  5/3/2020  Candelaria  River   CDL01     Surface    Dry
1  CDL01F  5/3/2020  Candelaria  River   CDL01      Bottom    Dry
2  CDL02S  5/3/2020  Candelaria  River   CDL02     Surface    Dry
3  CDL02F  5/3/2020  Candelaria  River   CDL02      Bottom    Dry
4  CDL03S  5/3/2020  Candelaria  River   CDL03     Surface    Dry

   chlorophy_microg_l  cond_microsiemens_cm  depth_m  ...  do_mg_l  sal_psu  \
0                0.36                7015.4    0.464  ...     7.12     3.56
1                4.19               29886.1    7.792  ...     4.90    16.97
2                0.92               16691.1    0.453  ...     6.99     8.94
3                2.23               24847.4    1.261  ...     6.52    13.87
4                0.58               46341.6    0.465  ...     6.24    28.06

   sp_cond_microsiemens_cm  turbidity_fnu  temp_c  latitude  longitude  \
0                   6547.7           1.47  28.740  18.55736  -91.25012
1                  27751.2          95.33  29.028  18.55722  -91.24990
2                  15429.1           5.50  29.283  18.61007  -91.24410
3                  23074.0          13.44  29.024  18.61005  -91.24403
4                  43670.8           3.60  28.202  18.63166  -91.29359

   dic_micromol_kg  ta_micromol_kg  dummy_data
0             3915            3863      3685.0
1             3698            3685         NaN
2             3724            3708      3708.0
3             3667            3992      3992.0
4             2928            3023      3023.0

[5 rows x 21 columns]